#button-1{
	background-color:#0d6efd;
	color:white;
	border:none;
	border-radius:5px;
	font-size:15px;
}

#button-2{
	background-color:white;
	color:#6c757d;
	border-radius:5px;
	font-size:15px;
}
#button-3{
	background-color:#198754;
	color:white;
	font-size:20px;
	border-radius:5px;
	border:none;
}
#button-4{
	background-color:red;
	color:white;
	border-radius:5px;
	font-size:10px;
	border:none;
}

#button-5{
	background-color:#ffc107;
	color:black;
	paddin:12px 24px;
	border-radius:5px;
	font-size:20px;
	width:100%;
	border:none;
}
#button-6{
	background-color:#0dcaf0;
	color:white;
	font-size:15px;
	border-radius:5px;
	border:none;
}

#button-7{
	background-color:white;
	color:black;
	border-radius:5px;
	font-size:15px;
	border:none;
}

#button-8{
	background-color:none;
	color:#0d6efd;
	border-radius:5px;
	font-size:15px;
	border:none;
	text-decoration:underline;
}
